<html>
	<head>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Covid19 Live Updates</title>
		<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
	</head>
	<body>

		<nav class="flex items-center justify-between bg-purple-600 flex-wrap bg-teal-500 p-6">
			<div class="flex items-center flex-shrink-0 text-white mr-6">
				<span class="font-semibold text-xl tracking-tight">Covid-19 Dashboard</span>
			</div>
			<div class="block lg:hidden">
				<button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
					<svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
				</button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
	  <div class="text-sm lg:flex-grow">
		  <a href="https://github.com/thelaycon/covid19-dash" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        Github
		  </a>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        JHU Data
      </a>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
        Blog
      </a>
    </div>
    <div>
      <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Download</a>
    </div>
  </div>
</nav>
	  <div class="max-w-screen-lg w-full pt-20 pb-20 mb-8 text-center" style="background-image:url('/static/images/covid.jpg');">
        <h2 class="text-3xl leading-9 font-bold tracking-tight sm:text-4xl sm:leading-10">
           Covid-19 Statistics Dashboard - Nigeria 
        </h2>
            </div>
	    <div>
		    <div>
			    <h4>Confirmed Cases</h4>
		    </div>
		    {{ graph1 }}
	    </div>
	    <div>
		    <div>
			    <h4>Death Cases</h4>
		    </div>
		    {{ graph2 }}
	    </div>
	    <div>
		    <div>
			    <h4>Recovered Cases</h4>
		    </div>

		    {{ graph3 }}
	    </div>
	</body>
</html>
